@model Login.Model.ViewModel.UserView
@{
    ViewBag.Title = "User Page";
}


<div class="row">
    <<div>
        <table id="t01">
            <thead>
            <th>UserID</th>
            <th>Username</th>
            <th>Password</th>
            <th>FullName</th>
            <th>EmailID</th>
            </thead>
            @foreach (var item in ViewBag.userdetails)
            {

                <tr>
                    <td>
                        @item.UserID
                    </td>
                    <td>
                        @item.Username
                    </td>
                    <td>
                        @item.Password
                    </td>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @item.EmailID
                    </td>
                </tr>

            }

        </table>
    </div>
</div>